/* LONG FACE (Fixed) */
.skull {
    height: 380px; /* Taller */
    width: 240px;  /* Narrower */
    border-radius: 40% 40% 45% 45% / 30% 30% 60% 60%;
    /* Removed the rule that pushed features down */
}
